---
layout: default
---

<div class="home">

    <h1 class="page-heading">Talks</h1>
    <ul>
        <li>"Web Server Defense: Swift Edition", OSCON 2017</li>
        <li>"Being serverless and Swift... is that allowed? DevOxx</li>
        <li><a href="https://www.slideshare.net/cnbailey/tryswift-nyc-end-to-end-application-development-in-swift">End to End Application Development"</a>, TrySwift NYC</li>
        <li>"Pushing the boundaries of Swift to the Server", <a href="http://altconf.com/schedule/">AltConf</a>, June 13-16 2016</li>
    </ul>

     <h1 class="page-heading">Books</h1>
     <p><a href="http://www.oreilly.com/programming/free/extending-swift-values-to-the-server.csp">Extending Swift Values to the Server</a> with David Ungar


  <h1 class="page-heading">Articles</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>